@import './_Variables';

.Home__AboutPage{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding:40px 100px 0px 100px;

    .Home__AboutPage-head{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 50%;
        font-family: $primary-font;
    }
}
.Home__AboutPage-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex: 1;
    justify-content: space-between;

    .About__Content-title{
        width: 40%;
        font-family: $primary-font;
        font-size: 20px;
        gap: 15px;

    }
    .right__paragraphy{
        width: 50%;
        font-family: $paragraph-font;
        font-size: 20px;
    }

}
/*Making this page responsive*/
@media all and (max-width: 1100px){
    .Home__AboutPage {
        width: 100%;
        height: 425px;
        display: flex;
        flex-direction: column;
        padding: 15px 61px 0px 100px;
    }
} 
@media all and (max-width: 1000px){
    .Home__AboutPage-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        transform: translateY(-10%);
        align-items: center;
        /* flex: 1 1; */
        justify-content: space-between;
    }
}
@media all and (max-width: 850px){
    .Home__AboutPage {
        width: 100%;
        height: 425px;
        display: flex;
        flex-direction: column;
        padding: 15px 40px 0px 50px;
    }
    .Home__AboutPage-content .About__Content-title {
        width: 40%;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        /* gap: 2px; */
    }
    #right__paragraph-p{
        font-size: 18px;
    }
}

@media all and (max-width: 750px){
    .Home__AboutPage-content .right__paragraphy {
        width: 55%;
        font-family: "Calibri";
        font-size: 14px;
    }
    .Home__AboutPage-content .About__Content-title {
    width: 40%;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    /* gap: 2px; */
}
.Home__AboutPage .Home__AboutPage-head {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}
}
@media all and (max-width: 690px){
    .Home__AboutPage-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .Home__AboutPage {
        width: 100%;
        height: 340px;
        display: flex;
        flex-direction: column;
        padding: 15px 0px 0px 0px;
    }
    .Home__AboutPage-content .right__paragraphy {
        width: 90%;
        font-family: "Calibri";
        font-size: 14px;
    }
    .Home__AboutPage-content .About__Content-title {
        width: 90%;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        transform: translateY(54px);
        /* gap: 2px; */
    }
    .Home__AboutPage .Home__AboutPage-head {
        display: flex;
        flex-direction: row;
        gap: 20px;
        transform: translate(34px,16px);
        width: 50%;
        font-size: 15px;
        font-family: "Inter", sans-serif;
    }
}
@media all and (max-width: 600px){
    .Home__AboutPage {
        width: 100%;
        height: 338px;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
    .Home__AboutPage .Home__AboutPage-head {
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translate(34px, 12px);
    width: 50%;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}
.Home__AboutPage-content .About__Content-title {
    width: 90%;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    transform: translateY(52px);
    /* gap: 2px; */
}
}
@media all and (max-width: 550px){
    .Home__AboutPage-content .About__Content-title {
        width: 90%;
        font-family: "Inter", sans-serif;
        font-size: 10px;
        transform: translateY(46px);
        /* gap: 2px
    px
    ; */
    }
    .Home__AboutPage .Home__AboutPage-head {
        display: flex;
        flex-direction: row;
        gap: 20px;
        transform: translate(27px, 12px);
        width: 50%;
        font-size: 12px;
        font-family: "Inter", sans-serif;
    }
    #right__paragraph-p {
    font-size: 16px;
}
.Home__AboutPage {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
}
@media all and (max-width: 500px){
    #right__paragraph-p {
    font-size: 15px;
}
.Home__AboutPage {
    width: 100%;
    height: 287px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
}
@media all and (max-width: 450px){
    #right__paragraph-p {
        font-size: 14px;
    }
    .Home__AboutPage {
        width: 100%;
        height: 274px;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
}
@media all and (max-width: 400px){
    #right__paragraph-p {
        font-size: 13px;
    }
    .Home__AboutPage {
    width: 100%;
    height: 262px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
}
@media all and (max-width: 350px){
    .Home__AboutPage-content .About__Content-title {
        width: 80%;
        font-family: "Inter", sans-serif;
        font-size: 10px;
        transform: translate(-16px,46px);
    }
    .Home__AboutPage .Home__AboutPage-head {
        display: flex;
        flex-direction: row;
        gap: 20px;
        transform: translate(20px, 12px);
        width: 90%;
        font-size: 12px;
        font-family: "Inter", sans-serif;
    }
    .Home__AboutPage {
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
}
@media all and (max-width: 320px){
    .Home__AboutPage {
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
}

