@import './_Variables.scss';

.Intro__Container{
    width: 100%;
    background-size: cover;
    height:522px;
    background-color: $primary-clr;
    display:flex;
    flex-direction:row;
    z-index: -1;
    justify-content:space-between;
    align-items:center;
    padding:0px 100px 0px 100px;
}
.PopupMenu{
    position: absolute;
    width: 100%;
    height: 300px;
    visibility: hidden;
    transform: translateY(-80px);
    background-color:rgba(0, 0, 0, 0.332);
    z-index: 100;


        #PopupPortfolio,#PopupServices,#PopupTestimonial,#PopupContact,#CancelButton{
            text-decoration: none;
            width: 100%;
            font-weight: bold;
            height: 40px;
            padding-top: 7px;
            color: $primary-clr;
        }
        #PopupPortfolio:hover,#PopupServices:hover,
        #PopupTestimonial:hover,#PopupContact:hover,#CancelButton:hover{
            background-color: $orange-clr;
        }
        #CancelButton{
            outline: none;
            border: none;
            background-color: $lightblue-clr;
        }
        
    
}
.PopupMenu__list{
    width: 100%;
    height: 200px;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: $primary-font;
    font-size: 20px;
    background-color: $lightblue-clr;
    flex-direction: column;
    box-shadow: $navbar-shadow;
    list-style-type: none;
    text-decoration: none;
}
@keyframes HomePopupAnimation{
    from{
        transform: translateY(-150%);
    }
    to{
        transform: translateY(-40%);
    }
}
#CancelMe{
    font-size: 40px;
    float: right;
    color: $secondary-clr;
    margin-right: 30px;
    font-family: $paragraph-font;
    cursor: pointer;
}
.isVisible{
    position: absolute;
    animation: HomePopupAnimation 1s forwards;
     width: 100%;
    padding: 10px 0px 0px 0px;
    height: 237px;
    background-color: rgba(0, 0, 0, 0.914);
    z-index: 100;
    visibility: visible;
    transform: translateY(-91px);
 
}
.HomePage{
    max-width:100%;
    height:100%;
    background-color: $primary-clr;
}

.Home__navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding :39px 39px 10px 100px;

    .Home__navbar-logo>#Logo{
        font-family:$primary-font;
        text-decoration: none;
        color:$orange-clr;
        font-style:normal;
        cursor: pointer;
        font-size:20px;
     }
    .Home__navbar-list{
        width:600px;
        height:45px;
        background-color: $gray-color;
        box-shadow:$navbar-shadow;
        border-radius: $primary-radius;

       .navbar__list{
            display:flex;
            flex-direction:row;
            list-style-type:none;
            width:100%;
            height:100%;
            align-items:center;
            text-align:center; 
       }
       .navbar__list>li{
        font-size: 18px;
        font-family: $primary-font;
        color: $secondary-clr;
        box-shadow: $navbar-shadow;
        padding-top: 10px;
        height: 100%;
        width: 20%;
        cursor: pointer;
        border-radius: $primary-radius;
    }
    .navbar__list>li:hover{
        background-color: $orange-clr;
    }
    }

}
.Menu__button{
    width: 40px;
    height: 40px;
    background-color: $primary-clr;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;

    #Menu__button-image{
        cursor: pointer;
    }
}
#Portfolio_button, #Home_button, #ContactMe_button,#Services__link, #Testimonial__link{
    text-decoration: none;
    font-size:18px;
    font-family: $primary-font;
    color: $secondary-clr;
    box-shadow: $navbar-shadow;
    padding-top: 10px;
    height: 100%;
    width: 20%;
    cursor: pointer;
    border-radius: $primary-radius;

}
#Portfolio_button:hover, #Home_button:hover,#Services__link:hover, #ContactMe_button:hover, #Testimonial__link:hover{
    background-color: $orange-clr;
}


.Intro__Container-content{
    width: 60%;
    transform: translateY(10%);
    display: flex;
    animation: IntroLeftSide 3s forwards;
    flex-direction: column;
    gap:10px;
    // Text Content

@keyframes IntroLeftSide {
    from{
        opacity: 0;
        transform: translateX(-30%);
        position: absolute;
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
    
}
    #Greet{
        width: 40%;
        color: $orange-clr;
        font-size: 40px;
        font-family: $primary-font;
    }
    #Introduction{
        font-size:80px;
        font-family: $primary-font;
        color: $secondary-clr;
        width:100%;
    }
    #Paragraph{
        font-size: 20px;
        color: $secondary-clr;
        font-family: $primary-font;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }
}
.Intro__Container-text{
    display: flex;
    flex-direction: column;
}
// Button styles
.Intro__Container-button{
    display: flex;
    flex-direction: row;
    gap:20px;
    z-index: -1;

    .Container__button>button{
        width:145px;
        height:40px;
        text-align:center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        outline:0px;
        background-color: $orange-clr;
        color: $secondary-clr;
        box-shadow: $navbar-shadow;
        border: 1px solid $orange-clr;
        border-radius: $primary-radius;
        outline: 0px;
    }
    .Container__button>button:hover{
        background-color: $primary-clr;
         border: 1px solid $orange-clr;
    }
    .DownloadCV>button{
        background-color: $primary-clr;
        border: 1px solid $orange-clr;
        cursor: pointer;
    }
    .DownloadCV>button:hover{
        background-color: $orange-clr;

    }
}
#FocusImage{
    transform: translateY(8%);
    z-index: -1;
}

/*Making Pages Responsive*/

@media all and (max-width: 1100px){
    .Intro__Container-content #Introduction {
        font-size: 65px;
        font-family: "Inter", sans-serif;
        color: white;
        width: 100%;
    }
    #FocusImage {
        transform: translate(9%,8%);
    }
   
}
@media all and (max-width: 1100px){
    .Intro__Container-content #Introduction {
        font-size: 48px;
        font-family: "Inter", sans-serif;
        color: white;
        width: 100%;
    }
    .Intro__Container-content #Paragraph {
        font-size: 17px;
        color: white;
        font-family: "Inter", sans-serif;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }
    #FocusImage {
        transform: translate(10%, 7%);
        width: 400px;
    }
    .Intro__Container {
        width: 100%;
        background-size: cover;
        height: 456px;
        background-color: #161616;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px 0px 100px;
    }
}
@media all and (max-width: 1000px){
    .Intro__Container-content #Paragraph {
        font-size: 16px;
        letter-spacing: 0px;
    }
}
@media all and (max-width: 850px){
    .Home__navbar {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        padding: 27px 39px 10px 50px;
    }
    .Intro__Container-content #Introduction {
        font-size: 38px;
        font-family: "Inter", sans-serif;
        color: white;
        width: 100%;
    }
    #FocusImage {
    transform: translate(13%, 12%);
    width: 365px;
}
.Intro__Container-button .DownloadCV > button {
    background-color: #161616 !important;
    border: 1px solid #F47A36 !important;
    cursor: pointer;
    font-size: 15px !important;
}
.Intro__Container-button .Container__button > button {
    width: 125px;
    height: 40px;
    font-size: 18px;
    background-color: #F47A36;
    color: white;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    border: 1px solid #F47A36;
    border-radius: 8px;
}
.Intro__Container {
    width: 100%;
    background-size: cover;
    height: 450px;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 50px;
}
    .Intro__Container {
        width: 100%;
        background-size: cover;
        height: 456px;
        background-color: #161616;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px 0px 50px;
    }
    .Home__navbar .Home__navbar-logo > #Logo {
        font-family: "Inter", sans-serif;
        text-decoration: none;
        color: #F47A36;
        font-style: normal;
        cursor: pointer;
        font-size: 17px;
    }
    .Intro__Container-content #Paragraph {
        font-size: 14px;
    }

}

@media all and (max-width: 750px){
    .Home__navbar .Home__navbar-list {
        width: 485px;
        height: 45px;
        background-color: #323232;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
        border-radius: 8px;
    }
    #Portfolio_button, #Home_button, #ContactMe_button, #Services__link, #Testimonial__link {
        text-decoration: none;
        font-size: 16px;
        font-family: "Inter", sans-serif;
        color: white;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
        padding-top: 10px;
        height: 100%;
        width: 20%;
        cursor: pointer;
        border-radius: 8px;
    }
    .Intro__Container {
        width: 100%;
        background-size: cover;
        height: 400px;
        background-color: #161616;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px 0px 50px;
    }
    #FocusImage {
        transform: translate(13%, 11%);
        width: 328px;
    }
}
@media all and (max-width: 690px){
    .Intro__Container {
        width: 100%;
        background-size: cover;
        height: 540px;
        background-color: #161616;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px 0px 50px;
    }
    @keyframes HomePopupAnimation{
        from{
            transform: translateY(-150%);
        }
        to{
            transform: translateY(-30%);
        }
    }
    .Intro__Container-content {
        width: 100%;
        transform: translateY(10%);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        animation: IntroLeftSide 3s forwards;
        flex-direction: column;
        gap: 10px;
    }
    #FocusImage {
        transform: translate(-1%, 1%);
        width: 290px;
    }
    .Intro__Container-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Home__navbar .Home__navbar-list {
    width: 485px;
    height: 45px;
    display: none;
    background-color: #323232;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    border-radius: 8px;
}
.Menu__button{
    width: 40px;
    height: 40px;
    background-color: $primary-clr;
    border: none;
    outline: none;
    cursor: pointer;
    display:block;

    #Menu__button-image{
        cursor: pointer;
    }
}
.Intro__Container-content #Greet {
    width: 100%;
    color: #F47A36;
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

}
@media all and (max-width: 500px){
    .Intro__Container-content #Greet {
        width: 100%;
        color: #F47A36;
        font-size: 30px;
        font-family: "Inter", sans-serif;
    }
    .Intro__Container-content #Introduction {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: white;
    width: 100%;
}
.Intro__Container-content #Paragraph {
    font-size: 15px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-bottom: 14px;
    letter-spacing: 2px;
}
}
@media all and (max-width: 450px){
    .Intro__Container-content #Introduction {
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: white;
    width: 100%;
}
.Intro__Container-content #Paragraph {
    font-size: 12px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-bottom: 14px;
    letter-spacing: 2px;
}
.Intro__Container-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
}
@media all and (max-width: 400px){
    .Intro__Container-content #Introduction {
        font-size: 22px;
        font-family: "Inter", sans-serif;
        color: white;
        width: 100%;
    }
    .Intro__Container-content #Paragraph {
        font-size: 12px;
        color: white;
        font-family: "Inter", sans-serif;
        margin-bottom: 14px;
        letter-spacing: 0px;
    }
    .Intro__Container-button .Container__button > button {
    width: 111px;
    height: 40px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    outline: 0px;
    background-color: #F47A36;
    color: white;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    border: 1px solid #F47A36;
    border-radius: 8px;
    outline: 0px;
}
.Intro__Container-button .DownloadCV > button {
    background-color: #161616 !important;
    border: 1px solid #F47A36 !important;
    cursor: pointer;
    font-size: 13px !important;
}
}

@media all and (max-width: 350px){
    .Intro__Container-content #Introduction {
        font-size: 19px;
        font-family: "Inter", sans-serif;
        color: white;
        width: 100%;
    }
}