@import './_Variables.scss';


.Second__navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding :39px 39px 10px 100px;

    .Second__navbar-logo>#Logo{
        font-family:$primary-font;
        text-decoration: none;
        color:$orange-clr;
        font-style:normal;
        cursor: pointer;
        font-size:18px;
     }
    .Second__navbar-Class{
        width:370px;
        height:45px;
        justify-content: space-between;
        background-color: $gray-color;
        box-shadow:$navbar-shadow;
        border-radius: $primary-radius;

       .Secondnavbar__list{
            display:flex;
            flex-direction:row;
            list-style-type:none;
            width: 100%;
            justify-content: space-between;
            height:100%;
            align-items:center;
            text-align:center; 
       }
       .Secondnavbar__list>li{
        font-size: 18px;
        font-family: $primary-font;
        color: $secondary-clr;
        box-shadow: $navbar-shadow;
        padding-top: 10px;
        height: 100%;
        width: 20%;
        cursor: pointer;
        border-radius: $primary-radius;
    }
  
    
    .Secondnavbar__list>li:hover{
        background-color: $orange-clr;
    }
    }

}
/*SecondNavbar Popup */
.SecondPopupMenu{
    position: absolute;
    width: 100%;
    height: 76%;
    visibility: hidden;
    background-color:$lightblue-clr;
    z-index: 100;


        #SecondPopupPortfolio,#SecondPopupServices,#SecondPopupTestimonial,
        #SecondPopupContact,#SecondPopupHome{
            text-decoration: none;
            width: 100%;
            font-weight: bold;
            height: 40px;
            padding-top: 7px;
            color: $primary-clr;
        }
        #SecondPopupPortfolio:hover,#SecondPopupServices:hover,
        #SecondPopupTestimonial:hover,#SecondPopupContact:hover,#SecondPopupHome:hover{
            background-color: $orange-clr;
        }
        #SecondCancelButton{
            outline: none;
            border: none;
            background-color: $lightblue-clr;
        }
        

}
.SecondPopupMenu__list{
    width: 100%;
    height: 150px;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: $primary-font;
    font-size: 20px;
    background-color: $lightblue-clr;
    flex-direction: column;
    box-shadow: $navbar-shadow;
    list-style-type: none;
    text-decoration: none;
}
#SecondCancelMe{
    font-size: 40px;
    float: right;
    color: $secondary-clr;
    margin-right: 30px;
    font-family: $paragraph-font;
    cursor: pointer;
}
@keyframes SecondPopupAnimation{
    from{
        transform: translateY(-150%);
    }
    to{
        transform: translateY(-40%);
    }
}
.Visible{
    position: absolute;
    animation: SecondPopupAnimation 1s forwards;
     width: 100%;
    padding: 10px 0px 0px 0px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.914);
    z-index: 100;
    visibility: visible;
    transform: translateY(-91px);
}
/*SecondNavbar Popup */
.Second__Menu-button{
    width: 40px;
    height: 40px;
    background-color: $secondary-clr;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;

    #Second__menu-image{
        cursor: pointer;
    }
}
#Portfolio_button, #Home_button, #ContactMe_button,#Services__link, #Testimonial__link{
    text-decoration: none;
    font-size:18px;
    font-family: $primary-font;
    color: $secondary-clr;
    box-shadow: $navbar-shadow;
    padding-top: 10px;
    height: 100%;
    width: 33%;
    cursor: pointer;
    border-radius: $primary-radius;

}
#Portfolio_button:hover, #Home_button:hover,#Services__link:hover, #ContactMe_button:hover, #Testimonial__link:hover{
    background-color: $orange-clr;
}

@media all and (max-width: 690px){
    .isVisible {
        width: 100%;
        height: 265px;
    }
    .Second__Menu-button{
        width: 40px;
        height: 40px;
        background-color: $secondary-clr;
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
    
        #Second__menu-image{
            cursor: pointer;
        }
    }
    .Second__navbar-Class{
        width:370px;
        display: none;
        height:45px;
        justify-content: space-between;
        background-color: $gray-color;
        box-shadow:$navbar-shadow;
        border-radius: $primary-radius;
    }
    .Second__navbar{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding :39px 30px 10px 30px;
    }
    
}