@import './_Variables';

.Services{
    width: 100%;
    height: 1000px;
    background-color: $lightblue-clr;
    padding-top: 30px;

    .Services__Card{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .Services__Card-row1, .Services__Card-row2{
       
        width: 100%;
        justify-content: center;
        gap: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.Services__row1-card1,.Services__row1-card2{
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}
.Services>h1{
    justify-content: center;
    margin-bottom: 30px;
    font-family: $primary-font;
    color: $orange-clr;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.ServicesCard{
    width: 40%;
    height: 400px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: $primary-radius;
    box-shadow: $navbar-shadow;
    background-color: $secondary-clr;

    .ServicesCard__Image>img{
        width: 220px;
        height: 200px;
        border-radius: $primary-radius;
        box-shadow: $navbar-shadow;
    }
    .ServicesCard__text{
        width: 50%;
        height: 220px;
        padding: 60px 10px 0px 10px;
        font-family: $primary-font;
        font-size: 14px;
        justify-content: left;
        margin-left: 10px;
    }
}
.ServicesCard-row{
    display: flex;
    flex-direction: row;
}
.ServicesCard__paragraph>p{
    width: 100%;
    font-family: $paragraph-font;
    font-size: 17px;
    margin-top: 6px;
}

/*Making This page Responsive*/
@media all and (max-width: 1100px){
    .ServicesCard {
        width: 45%;
        height: 400px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
        background-color: white;
    }
} 
@media all and (max-width: 1000px){
    .ServicesCard__paragraph > p {
        width: 100%;
        font-family: "Calibri";
        font-size: 16px;
        margin-top: -10px;
    }
    .ServicesCard .ServicesCard__text {
        width: 50%;
        height: 220px;
        padding: 77px 1px 0px 10px;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        justify-content: left;
        margin-left: 10px;
    }
}
@media all and (max-width:850px){
    .ServicesCard .ServicesCard__Image > img {
        width: 190px;
        height: 170px;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    }
    .ServicesCard .ServicesCard__text {
        width: 50%;
        height: 220px;
        padding: 45px 1px 0px 10px;
        font-family: "Inter", sans-serif;
        font-size: 10px;
        justify-content: left;
        margin-left: 10px;
    }
    .ServicesCard__paragraph > p {
        width: 100%;
        font-family: "Calibri";
        font-size: 16px;
        margin-top: -40px;
    }
}
@media all and (max-width: 750px){
    .ServicesCard .ServicesCard__Image > img {
        width: 175px;
        height: 148px;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    }
    .ServicesCard__paragraph > p {
        width: 100%;
        font-family: "Calibri";
        font-size: 16px;
        transform: translateY(-10%);
        margin-top: -40px;
    }
    .Services > h1 {
        justify-content: center;
        margin-bottom: 30px;
        font-family: "Inter", sans-serif;
        color: #F47A36;
        font-size: 26px;
        width: 100%;
        text-align: center;
    }
    .ServicesCard .ServicesCard__text {
        width: 50%;
        height: 220px;
        padding: 45px 1px 0px 10px;
        font-family: "Inter", sans-serif;
        font-size: 9px;
        justify-content: left;
        margin-left: 2px;
    }
}
@media all and (max-width: 690px){
    .Services .Services__Card-row1, .Services .Services__Card-row2 {
        width: 100%;
        justify-content: center;
        gap: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ServicesCard {
        width: 82%;
        height: 365px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
        background-color: white;
    }
    .ServicesCard-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        transform: translateY(-15px);
        width: 100%;
    }
    .ServicesCard .ServicesCard__Image > img {
        width: 300px;
        height: 154px;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    }
    .ServicesCard__paragraph > p {
        width: 100%;
        font-family: "Calibri";
        font-size: 16px;
        transform: translateY(8%);
        margin-top: -40px;
    }
    .Services {
        width: 100%;
        height: 1700px;
        background-color: #F4FEFF;
        padding-top: 30px;
    }
    .ServicesCard .ServicesCard__text {
    width: 100%;
    height: 220px;
    padding: 40px 1px 0px 10px;
    font-family: "Inter", sans-serif;
    font-size: 9px;
    justify-content: left;
    margin-left: 2px;
    transform: translateY(-33px);
}
}
@media all and (max-width: 550px){
    .ServicesCard {
        width: 73%;
        height: 426px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
        background-color: white;
    }
    .Services {
        width: 100%;
        height: 1900px;
        background-color: #F4FEFF;
        padding-top: 30px;
    }
}

@media all and (max-width: 450px){
    .Services > h1 {
        justify-content: center;
        margin-bottom: 30px;
        font-family: "Inter", sans-serif;
        color: #F47A36;
        font-size: 22px;
        width: 100%;
        text-align: center;
    }
    .ServicesCard {
    width: 80%;
    height: 449px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    background-color: white;
}
.ServicesCard .ServicesCard__Image > img {
    width: 250px;
    height: 154px;
    border-radius: 8px;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
}
.Services {
    width: 100%;
    height: 2000px;
    background-color: #F4FEFF;
    padding-top: 30px;
}
}
@media all and (max-width: 400px){
    .ServicesCard .ServicesCard__Image > img {
        width: 220px;
        height: 135px;
        border-radius: 8px;
        box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    }
    .ServicesCard-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    transform: translateY(10px);
    width: 100%;
}
.ServicesCard {
    width: 85%;
    height: 430px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 9%);
    background-color: white;
}
}
@media all and (max-width: 350px){
    .ServicesCard__paragraph > p {
        width: 100%;
        font-family: "Calibri";
        font-size: 14px;
        transform: translateY(8%);
        margin-top: -40px;
    }
    .ServicesCard-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        transform: translateY(-10px);
        width: 100%;
    }
    .Services {
        width: 100%;
        height: 1910px;
        background-color: #F4FEFF;
        padding-top: 30px;
    }
}