@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Edu+TAS+Beginner:wght@500&family=Inter&family=Poppins:wght@700&family=Rubik+Moonrocks&display=swap');


/**********************************
Color varibles
*/ 
$primary-clr: #161616;
$secondary-clr:white;
$orange-clr:#F47A36;
$lightblue-clr:#F4FEFF;
$gray-color:#323232;


/**********************************
Fonts varibles
*/ 
$primary-font:'Inter', sans-serif;
$secondary-font:'Poppins';
$paragraph-font: "Calibri";

/** Shadow varibles*/
$navbar-shadow: 0px 0px 18px rgba(0, 0, 0, 0.09);
$primary-radius:8px;

